* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 50px;
	font-size: 1.75em;
}

.row {
	margin: 10px
}

.slot {
	padding: 10px;
}

.item {
	background-color: #99958b;
	border: 1px solid black;
}

.itemName {
	border: 1px solid black;
	margin: -1px -1px 10px 0px;
	float: right;
	font-size: 1.25em;
}

.chicken {
	background-color: #ffb3b3;
}

.beef {
	background-color: #99ccff;
}

.sushi {
	background-color: #ffff99;
}

.itemDescription {
	margin: 10px;
	clear: both;
}

.itemName > p {
	margin: 5px 20px 5px 20px;
}

.itemDescription > p {
	margin: 10px 5px 10px 5px;
}

/*Desktop View*/
@media (min-width: 992px) {
	.col-lg-4 {
		width: 33.33%;
		float: left;
	}
}

/*Tables View*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
		float: left;
	}
	.col-md-6 {
		width: 50%;
	}

	.col-md-12 {
		width: 100%;
	}
}

/*Mobile View*/
@media (max-width: 767px) {
	.col-sm-12 {
		width: 100%;
		float: left;
	}
}